*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse specific
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
*.cfg
*.properties
*.log
Networking_Project/PeerInfo.cfg
*.log
